# 取消idea文件
.idea/
# Dependency directories
node_modules/

# 取消临时文件及编译文件
# secretKeyConf.js
gb-pages/

# 取消编译静态文件--注释掉，以便CI进行推送，这个注释掉后可能导致后续CI无法推送编译文件
#docs/.vuepress/dist/
#docs/.vuepress/dist/**

.temp
docs.iml
.DS_Store